# This file is propogated with the default values assumed if you do not specify them here. SLACK_BOT_TOKEN and SLACK_BOT_ID need to be specified.

SLACK_BOT_TOKEN:
SLACK_BOT_NAME: cephbot
SLACK_BOT_ID:
SLACK_USER_ACCESS_DENIED: You do not have permission to use me.
SLACK_USER_IDS:
SLACK_CHANNEL_ACCESS_DENIED: This channel does not have permission to use me.
SLACK_CHANNEL_IDS:

CEPH_CLUSTER_ID: ceph
CLUSTER_GROUP: all
CEPH_CONF: /etc/ceph/ceph.conf
CEPH_USER: client.admin
CEPH_KEYRING: /etc/ceph/ceph.client.admin.keyring

HELP_MSG: status, health, io, osd stat, mon stat, pg stat, down osds, blocked requests, df, osd df, fs dump, pool io
TOO_LONG: 20
TOO_LONG_MSG: Response was too long. Check your DMs.
