# This file is propogated with the default values assumed if you do not specify them here. SLACK_BOT_TOKEN and SLACK_BOT_ID need to be specified.

export SLACK_BOT_TOKEN=
export SLACK_BOT_ID=
export SLACK_USER_ACCESS_DENIED="You do not have permission to use me."
export SLACK_USER_IDS=
export SLACK_CHANNEL_ACCESS_DENIED="This channel does not have permission to use me."
export SLACK_CHANNEL_IDS=

export EVENTS_SLACK_IDS=
export EVENTS_SLACK_CHANNELS=
export EVENTS_TRIGGER="FIRING"
export EVENTS_COMMANDS="health, io, down osds, blocked requests

export SCRIPTS_FOLDER="./scripts"

export CEPH_CLUSTER_ID="ceph: all"
# Can use CLUSTER as a variable will be replaced with responding clusters name
export CEPH_CONF_FILE="/etc/ceph/CLUSTER.conf"
export CEPH_USER="client.admin"
# Can use CLUSTER as a variable will be replaced with responding clusters name
# Also CEPH_USER will be replaced with the variable of the same name
export CEPH_KEYRING_FILE="/etc/ceph/CLUSTER.CEPH_USER.keyring"

export READINESS_FILE="/home/cephbot/ready.txt

export HELP_MSG="status, health, io, osd stat, mon stat, pg stat, down osds, blocked requests, df, osd df, fs dump, pool io. Aliases: ALIASES"
export TOO_LONG="20"
export TOO_LONG_MSG = "Long responses get threaded."
export ALWAYS_THREAD=False
export ALWAYS_SHOW_CLUSTER_ID=False