# This file is propogated with the default values assumed if you do not specify them here. SLACK_BOT_TOKEN and SLACK_BOT_ID need to be specified.

export SLACK_BOT_TOKEN=
export SLACK_BOT_NAME="cephbot"
export SLACK_BOT_ID=
export SLACK_USER_ACCESS_DENIED="You do not have permission to use me."
export SLACK_USER_IDS=
export SLACK_CHANNEL_ACCESS_DENIED="This channel does not have permission to use me."
export SLACK_CHANNEL_IDS=

export CEPHBOT_FOLDER="./scripts"

export CEPH_CLUSTER_ID="ceph"
export CLUSTER_GROUP="all"
export CEPH_CONF="/etc/ceph/ceph.conf"
export CEPH_USER="client.admin"
export CEPH_KEYRING="/etc/ceph/ceph.client.admin.keyring"

export HELP_MSG="status, health, io, osd stat, mon stat, pg stat, down osds, blocked requests, df, osd df, fs dump, pool io"
export TOO_LONG="20"
