---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cephbot
  namespace: default
  labels:
    app: cephbot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cephbot
  template:
    metadata:
      labels:
        app: cephbot
    spec:
      containers:
        - name: cephbot
          image: quay.io/ceph/ceph:v16.2.9
          command:
          command:
            - /bin/sh
          args:
            - /cephbot/kubernetes/entrypoint.sh
            - quiet
          readinessProbe:
            initialDelaySeconds: 10
            timeoutSeconds: 5
            exec:
              command:
              - ls
              - /ready.txt
          volumeMounts:
            - name: cephbot
              mountPath: /cephbot
            - name: cephbot-conf
              mountPath: /conf
          env:
## Environment variables below are set to defaults
            - name: PYTHONUNBUFFERED
              value: "0"
            - name: SLACK_BOT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: cephbot-token
                  key: token
# SLACK_BOT_ID is required
            - name: SLACK_BOT_ID
              value: ""
            - name: CEPH_CLUSTER_ceph
              value: "all prod"
            - name: CEPH_CONF_FILE
              value: "/conf/CLUSTER.conf"
            - name: CEPH_USER
              value: "client.cephbot"
            - name: CEPH_KEYRING_FILE
              value: "/conf/CLUSTER.CEPH_USER.keyring"
      initContainers:
        - name: git
          image: alpine/git
          command:
            - git
          args:
            - clone
            - https://github.com/ceph/cephbot-slack.git
            - /cephbot
          volumeMounts:
            - name: cephbot
              mountPath: /cephbot
      volumes:
        - name: cephbot
          emptyDir: {}
        - name: cephbot-conf
          secret:
            secretName: cephbot-conf
