---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cephbot
  namespace: ceph-mgt
  labels:
    app: cephbot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cephbot
  template:
    metadata:
      labels:
        app: cephbot
    spec:
      containers:
        - name: cephbot
          image: quay.io/ceph/ceph:v16.2.9
          command:
          command:
            - /bin/sh
          args:
            - /cephbot/kubernetes/entrypoint.sh
            - quiet
          volumeMounts:
            - name: cephbot
              mountPath: /cephbot
            - name: cephbot-conf
              mountPath: /conf
          env:
## Environment variables below are set to defaults
            - name: PYTHONUNBUFFERED
              value: "0"
            - name: SLACK_BOT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: cephbot-token
                  key: token
# SLACK_BOT_ID is required
            - name: SLACK_BOT_ID
              value: ""
            - name: SLACK_USER_ACCESS_DENIED
              value: "You do not have permission to use me."
            - name: SLACK_USER_IDS
              value: ""
            - name: SLACK_CHANNEL_ACCESS_DENIED
              value: "This channel does not have permission to use me."
            - name: SLACK_CHANNEL_IDS
              value: ""
            - name: SCRIPTS_FOLDER
              value: "/cephbot/scripts"
            - name: CEPH_CLUSTER_IDS
              value: "ceph: all prod"
            - name: CEPH_CONF
              value: "/conf/CLUSTER.conf"
            - name: CEPH_USER
              value: "client.cephbot"
            - name: CEPH_KEYRING
              value: "/conf/CLUSTER.CEPH_USER.keyring"
            - name: HELP_MSG
              value: "status, health, io, osd stat, mon stat, pg stat, down osds, blocked requests, df, osd df, fs dump, pool io. Aliases: ALIASES"
            - name: TOO_LONG
              value: "20"
            - name: TOO_LONG_MSG
              value: "Long responses get threaded."
            - name: ALWAYS_THREAD
              value: "False"
            - name: ALWAYS_SHOW_CLUSTER_ID
              value: "False"
      initContainers:
        - name: git
          image: alpine/git
          command:
            - git
          args:
            - clone
            - https://github.com/drakonstein/cephbot.git
            - /cephbot
          volumeMounts:
            - name: cephbot
              mountPath: /cephbot
      volumes:
        - name: cephbot
          emptyDir: {}
        - name: cephbot-conf
          secret:
            secretName: cephbot-conf
